aiohttp==3.10.5
asyncpg==0.29.0
attrs==24.2.0
beautifulsoup4==4.12.3
numpy==1.26.4
pandas==2.2.2
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
python-dotenv==1.0.1
SQLAlchemy==2.0.35
tzdata==2024.1
